doctype html
html
  head
    title Shriiz Dance Academy
    block scripts
    block style
  body


  nav#navbar 
    ul 
      div#logo 
       img(src="/static/k.png")
       | HDA

      li #[a(href="/") Home]
      li #[a(href="/About") About]
      li #[a(href="/services") services]
      
      li #[a(href="/contact") conatct  ]

  block content
  footer#footer 
   | Copyright @2022 ShriizDance academy.com | All righits reserved
   